.action-container {
    display: none;

    &--open {
        display: block;
    }

    &__instructions {
        margin: 2rem 1rem;
    }

    &__filters {
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__criteria {
        margin: 2rem 1rem;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        margin: 2rem 1rem;
    }

    &__autocomplete {
        margin-bottom: 2rem;
    }

    &__subtext {
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            margin-top: 0;
            max-width: 800px;
        }

        input {
            max-width: 500px;
            width: 100%;
            margin-bottom: 1rem;
        }

        button {
            margin-bottom: 2rem;
        }
    }
}