.action-container {
    display: none;

    &--open {
        display: block;
    }

    &__instructions {
        margin: 2rem 1rem;
    }

    &__filters {
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__criteria {
        margin: 2rem 1rem;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        margin: 2rem 1rem;
    }

    &__autocomplete {
        margin-bottom: 2rem;
    }
}