.autocomplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &__input {
        margin: 10px 0 10px 5px;
    }
}