.filters {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .75rem;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (min-width: 768px){
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (min-width: 1200px){
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--one-column {
        grid-template-columns: 1fr;
        place-items: center;
    }

    &__filter {
        border: 2px solid #411928;
        padding: 10px;
        border-radius: 10px;
        background-color: #FAF9F6;
    }

    &__title {
        margin-bottom: .5rem;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        flex-wrap: wrap;
    }

    &__list--horizontal {
        flex-direction: row;
        margin: 0 15px;

        @media only screen and (max-width: 442px){
            & {
                flex-direction: column;
            }
        }
    }

    &__list-item {
        margin: 7.5px;
        width: fit-content;
        display: flex;
        align-items: center;
    }

    &__label {
        margin-left: 2.5px;
    }

    &__select {
        margin-left: 5px;
    }

    &__list-item:hover,
    &__input:hover,
    &__label:hover,
    &__select:hover {
        cursor: pointer;
    }
    
    &__select:disabled {
        cursor: not-allowed;
    }
}