.action-container {
  display: none;
}
.action-container--open {
  display: block;
}
.action-container__instructions {
  margin: 2rem 1rem;
}
.action-container__filters {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.action-container__criteria {
  margin: 2rem 1rem;
}
.action-container__btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}
.action-container__autocomplete {
  margin-bottom: 2rem;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.btn {
  padding: 10px;
  background-color: #411928;
  color: white;
  border-radius: 10px;
  border: 2px solid #411928;
  transition: all 0.35s;
  font-weight: bold;
}
.btn--size-sm {
  padding: 5px;
  margin-top: 10px;
}
.btn--hidden {
  display: none;
}
.btn:hover {
  cursor: pointer;
  color: #411928;
  background-color: white;
}

.card {
  transition: all 0.35s;
  border-radius: 15px;
  width: 100%;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative;
}
.card-container--hidden {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 999px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.custom-deck {
  display: flex;
}
.custom-deck__display {
  padding: 15px;
  width: 50%;
  border-left: 2px solid #411928;
}
.custom-deck__copy-deck-btn {
  margin-left: 10px;
}
.custom-deck__deck-link {
  margin: 15px auto 0 auto;
  width: 100%;
}

.custom-deck-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-deck-holder {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
.custom-deck-holder__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-deck-holder__remove-btn {
  margin-top: 5px;
}
.custom-deck-holder label {
  padding: 5px 0;
}
.custom-deck-holder__card {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .custom-deck-holder {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 999px) {
  .custom-deck-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .custom-deck-holder {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .custom-deck-holder {
    grid-template-columns: 1fr;
  }
}

.custom-card-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-card-controls:hover {
  cursor: pointer;
}
.custom-card-controls__number {
  padding: 5px 10px;
  margin: 5px;
  background-color: white;
  color: #411928;
  font-weight: bold;
}
.custom-card-controls__btn:hover {
  cursor: pointer;
}

.filters {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.75rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .filters {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .filters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.filters--one-column {
  grid-template-columns: 1fr;
  place-items: center;
}
.filters__filter {
  border: 2px solid #411928;
  padding: 10px;
  border-radius: 10px;
  background-color: #FAF9F6;
}
.filters__title {
  margin-bottom: 0.5rem;
}
.filters__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  flex-wrap: wrap;
}
.filters__list--horizontal {
  flex-direction: row;
  margin: 0 15px;
}
@media only screen and (max-width: 442px) {
  .filters__list--horizontal {
    flex-direction: column;
  }
}
.filters__list-item {
  margin: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.filters__list-item:hover, .filters__input:hover, .filters__label:hover, .filters__select:hover {
  cursor: pointer;
}
.filters__select:disabled {
  cursor: not-allowed;
}

.header__img-container {
  max-width: 100%;
  width: 100%;
}

.header__img {
  max-width: 100%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.modal__content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.modal__img {
  margin: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 90%;
}
.modal__img:hover {
  cursor: pointer;
}
.modal__close-btn {
  position: fixed;
  top: 25px;
  right: 20px;
  cursor: pointer;
  background-color: #411928;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.modal__close-btn:hover {
  background-color: black;
  color: white;
}

.nav {
  position: relative;
}
.nav__text {
  margin-bottom: 30px;
}
.nav__tab-container {
  display: flex;
  justify-content: center;
  background-color: darkgray;
  color: white;
}
.nav__img {
  width: 100px;
  padding: 15px;
}
.nav__tab {
  padding: 15px;
  background-color: darkgray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__tab:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
.nav__tab--open {
  background-color: lightgray;
  color: #411928;
}

.no-results {
  grid-column-start: 1;
  grid-column-end: span 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-results__text {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.results {
  text-align: center;
  font-weight: bold;
  margin: 2rem 1rem;
}
.results--hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #411928;
  font-family: sans-serif;
  min-height: 1500px;
  background-color: lightgray;
  font: 16px Arial;
}

h2, h3, h4 {
  text-align: center;
  margin: 0;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

input[type=radio] {
  margin: 5px 0;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

.d-none {
  display: none;
}/*# sourceMappingURL=main.css.map */