body {
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}

header .img-container {
    max-width: 100%;
    width: 100%;
}

header .img-container img {
    max-width: 100%;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.card {
    max-width: 250px;
    margin: 15px;
    transition: all .5s;
    border-radius: 15px;
}

.card:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.filter div {
    width: 45%;
}

.filter ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
}

.filter ul li {
    margin: 10px;
}

body {
    background-color: gray;
}

@media only screen and (max-width: 560px){
    .card {
        max-width: 175px;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0;
    list-style-type: none;
}

nav ul > * {
    margin: 0 10px;
}

.alph:hover, .power:hover {
    cursor: pointer;
}

.filter-btn-container {
    display: flex;
    justify-content: center;
}