html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #411928;
}

h2, h3 {
    text-align: center;
    margin: 0;
}

h3 {
    margin-bottom: 15px;
    padding: 0 10px 10px 10px;
}

header .img-container {
    max-width: 100%;
    width: 100%;
}

header .img-container img {
    max-width: 100%;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.card {
    margin: 15px;
    transition: all .5s;
    border-radius: 15px;
    width: 16%;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
}

.filter div {
    margin: 15px;
}

.filter ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
}

.filter ul li {
    margin: 10px;
}

.filter-btn {
    padding: 10px;
    background-color: #411928;
    color: white;
    border-radius: 10px;
    border: 2px solid #411928;
    transition: all .35s;
    margin-bottom: 15px;
}

.filter-btn:hover {
    color: #411928;
    background-color: white;
    cursor: pointer;
}

body {
    background-color: lightgray;
}

/* @media only screen and (max-width: 560px){
    .card {
        max-width: 175px;
    }
} */

@media only screen and (max-width: 768px){
    .filter {
        flex-direction: column;
    }
}

@media only screen and (max-width: 896px){
    .filter {
        flex-direction: column;
    }
    .filter div {
        margin: 0 10px 10px 10px;
    }
}

@media only screen and (max-width: 1500px){
    .card {
        width: 22%;
        max-width: none;
    }
}

@media only screen and (max-width: 999px){
    .card {
        width: 28%;
        max-width: none;
    }
}

@media only screen and (max-width: 700px){
    .card {
        width: 42%;
        max-width: none;
    }
}

@media only screen and (max-width: 400px){
    .card {
        width: 80%;
        max-width: none;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0;
    list-style-type: none;
}

nav ul > * {
    margin: 0 10px;
}

.alph:hover, .power:hover {
    cursor: pointer;
}

.filter-btn-container {
    display: flex;
    justify-content: center;
}

.results {
    text-align: center;
}